.red-bar-staff {
    background-color: hsl(2, 81%, 34%); 
    width: 100%; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 10px;
}

.logo-container-staff {
    display: flex;
    align-items: center;
}

.logo-staff {
    width: 80px;
    height: 80px;
    margin: 20px 30px;
}

.buttons-container-staff {
    display: flex;
    align-items: center;
}

.redbarbutton-staff {
    background-color: hsl(0, 0%, 100%); 
    color: hsl(0, 0%, 0%);
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 40px;  
    margin: 35px 50px;
}

.redbarbutton-staff:hover {
    background-color: #000000;
    color: #ffffff;
    transform: scale(1.1); 
}

.profile-staff {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 30px;
    margin: 30px; 
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15); 
}

.profile-staff h1 {
    font-size: 15px;
    margin: 10px 25px;
    color: #333333; 
    font-weight: bold; 
}

.dropdown-menu-staff {
    position: absolute;
    right: 0;
    top: 66%; 
    background-color: #ffffff00;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); 
    margin-right: 55px; 

}

.dropdown-item-staff { 
    padding: 8px 12px;
    font-size: 15px; 
    border-radius: 15px;
    border: 2px solid #000000;   
}

.dropdown-item-staff:hover {
    background-color: hsl(0, 0%, 73%);
}

.main-content-staff {
    display: flex;
    margin-top: 100px;
    background-color: hsl(0, 0%, 64%);
}

.announcements-container-staff {
    width: 30%;
    padding: 20px;
    background-color: #f1f1f1;
    margin: 30px 30px 30px 0;
}

.announcements-title-staff {
    font-size: 24px;
    margin-bottom: 15px;
}

.announcement-viewer-staff {
    list-style-type: none;
}

.announcement-item-staff {
    margin-bottom: 10px;
    font-size: 16px;
}

.opportunities-container-staff {
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
    box-sizing: border-box;
    padding: 20px;
    background-color: hsl(2, 81%, 34%);
}

.offername-item-staff {
    background-color: hsl(0, 0%, 67%);
    color: rgb(0, 0, 0);
    margin: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    width: 1200px;
    height: 110px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.companyname-staff {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

.approve-reject-buttons-staff {
    display: flex;
    justify-content: center;
}

.approve-button-staff {
    background-color: #4CAF50; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 40px;
    transition: background-color 0.3s;
    margin-right: 20px;
}

.approve-button-staff:hover {
    background-color: #45a049;
}

.reject-button-staff {
    background-color: #d32f2f; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 40px;
    transition: background-color 0.3s;
    margin-right: 20px;
}

.reject-button-staff:hover {
    background-color: #b71c1c;
}

.view-button-staff {
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    margin-right: 20px;
}

.view-button-staff:hover {
    background-color: #000000;
    color: hsl(0, 0%, 100%);
}

.opportunities-staff {
    background-color: hsl(2, 81%, 34%); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-top: 150px;
}

.opportunity-staff {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    margin: 20px;
    height: 450px;
    width: 1200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    position: relative;
}

.opportunity-header-staff h2 {
    color: #1a1a1a; 
    margin-bottom: 15px;
    margin-top: 20px;
}

.opportunity-name-staff h3 {
    color: #666; 
    margin-bottom: 30px;
}

.opportunity-description-staff p {
    font-size: 14px; 
    color: #333;
}

.approve-button-staff {
    background-color: #4CAF50; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute; 
    bottom: 40px; 
    right: 210px;
}

.approve-button-staff:hover {
    background-color: #45a049;
}

.reject-button-staff {
    background-color: #d32f2f; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute; 
    bottom: 40px; 
    right: 70px;

}

.reject-button-staff:hover {
    background-color: #b71c1c;
}