/* Add media queries for responsiveness */

/* For screens with a maximum width of 1200px */
@media only screen and (max-width: 1200px) {
    .main-content {
       flex-direction: column;
     }
    .image-container.main-image {
       width: 100%;
       margin: 30px auto;
     }
    .announcements-container {
       width: 100%;
       padding: 20px;
       margin: 30px auto;
     }
    .opportunities-container {
       margin-top: 100px;
     }
    .offername-item {
       width: 90%;
       margin: 20px auto;
     }
    .opportunity {
       width: 90%;
       margin: 20px auto;
     }
   }
   
   /* For screens with a maximum width of 992px */
   @media only screen and (max-width: 992px) {
    .red-bar {
       padding: 10px;
     }
    .logo {
       width: 60px;
       height: 60px;
       margin: 15px 20px;
     }
    .redbarbutton {
       padding: 8px 15px;
       font-size: 12px;
     }
    .profile {
       margin: 20px;
     }
    .dropdown-menu {
       right: 10px;
       top: 60%;
     }
    .main-content {
       margin-top: 80px;
     }
    .image-container.main-image {
       margin: 20px auto;
     }
    .announcements-container {
       padding: 15px;
       margin: 20px auto;
     }
    .opportunities-container {
       margin-top: 80px;
     }
    .offername-item {
       width: 80%;
       margin: 15px auto;
     }
    .opportunity {
       width: 80%;
       margin: 15px auto;
     }
   }
   
   /* For screens with a maximum width of 768px */
   @media only screen and (max-width: 768px) {
    .red-bar {
       padding: 5px;
     }
    .logo {
       width: 40px;
       height: 40px;
       margin: 10px 15px;
     }
    .redbarbutton {
       padding: 5px 10px;
       font-size: 10px;
     }
    .profile {
       margin: 15px;
     }
    .dropdown-menu {
       right: 5px;
       top: 55%;
     }
    .main-content {
       margin-top: 60px;
     }
    .image-container.main-image {
       margin: 15px auto;
     }
    .announcements-container {
       padding: 10px;
       margin: 15px auto;
     }
    .opportunities-container {
       margin-top: 60px;
     }
    .offername-item {
       width: 70%;
       margin: 10px auto;
     }
    .opportunity {
       width: 70%;
       margin: 10px auto;
     }
   }
   
   /* For screens with a maximum width of 480px */
   @media only screen and (max-width: 480px) {
    .red-bar {
       padding: 5px;
     }
    .logo {
       width: 30px;
       height: 30px;
       margin: 5px 10px;
     }
    .redbarbutton {
       padding: 3px 5px;
       font-size: 8px;
     }
    .profile {
       margin: 10px;
     }
    .dropdown-menu {
       right: 5px;
       top: 50%;
     }
    .main-content {
       margin-top: 40px;
     }
    .image-container.main-image {
       margin: 10px auto;
     }
    .announcements-container {
       padding: 5px;
       margin: 10px auto;
     }
    .opportunities-container {
       margin-top: 40px;
     }
    .offername-item {
       width: 60%;
       margin: 5px auto;
     }
    .opportunity {
       width: 60%;
       margin: 5px auto;
     }
   }